.main-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.main-container-heading{
    flex: 1;
    text-align: left;
    padding: 20px;
    margin-bottom: 20px;
}

.data-table{
    flex: 2;
    
}
